.favicon img{
    width: 5vw;
    margin: .5vw 3vw;
    z-index: 100;
  }
.favicon:hover{
    cursor:pointer;
    transform: scale(1.2,1.2);
}
.nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(rgb(0,0,0,1), rgb(0,0,0,0));
    z-index: 100;
    color: white;
}
nav li {
    display:inline-block;
    list-style: none;
}
nav h1{
    font-size: 1.2vw;
    padding: 2.5vw 0;
    padding-left:16vw;
}
nav .nav_button {
    text-decoration: none;
    color:white;
    padding: 2.5vw 1vw;
    font-size: 1vw;
    display: block;
}
.pic_wall{
    text-align: center;
}
.pic_wall img{
    transition: transform .2s;
    width:  25vw;
    height: 25vw;
    padding: 5px;
    display:flexbox;
    border-radius: 20px;
}
.pic_wall img:hover{
    cursor:pointer;
    transform:scale(1.5,1.5);
}
footer > p {
    margin: 2vw;
}
footer{
    margin-top: 6.5vw;
    color: white;
    background-color: black;
    padding: 2vw 7vw;
    display: flex;
    max-width: 100%;
} 
h2{
    margin: 6.5vw 0;
  
    font-size: 3vw;
    text-align: center;
  }
  
  header{
    background-color: black;
    color:white;
    height: 30vw;
  }
  h1{
    padding-top: 18vw;
    padding-left: 10vw;
    font-size: 4vw;
  }
  html {
      scroll-behavior: smooth;
  }
  *{
      box-sizing: inherit;
      margin: 0;
      padding:0;
      
  }
  
  h3{
    padding-top: 5vw; 
    font-size: 2vw;
    text-align: center;
  }
  section{
    padding: 0vw 7vw;
  }
  
  @media (hover: hover) {
    #home:hover {
      color: white;
      background: red;
    }
    #bounce:hover {
      color: white;
      background: blue;
    }
    #balloons:hover {
      color: white;
      background: purple;
    }
    #chairs:hover {
      color: white;
      background: orange;
    }
    #tables:hover {
      color: white;
      background: green;
    }
    #about:hover {
      color: white;
      background: indigo;
    }
    #contact:hover {
      color: white;
      background: violet;
    }
}
.logo img{
    width:40vw;
}
      
.picSec{
    padding: 5vw 7vw;
}
.picSec img{
    width: 45%;
    height: auto;
    margin-top: 10vw;
    margin-left:5vw;
    border-radius: 3vw;
}
.events{
    margin: 20vw 1vw;
    font-size: 3vw;
}
    
.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 98;
    color:white;
    font-size: 6vw;
    text-align: center;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-weight: 700;
}
    
.left{
    float:left;
    margin-left: 5vw;
}
.right{
    float: right;
    margin-right: 5vw;
}
    
.slideshow-container {
    position: relative;
    width:100%;
    height:auto;
}
    
.mySlides img{
    width:100%;
    object-fit: cover;
    max-width: 100%;
    height: auto;
    margin:0;
    opacity:1;
}
    
.fade {
    animation-name:fade;
    animation-duration:3s;
}
    
@keyframes fade {
    from {opacity: .8} 
    to {opacity: 1}
}
.insta{
    padding: 5vw 10vw;
     align-items: center;
    justify-content: center;
    text-align: center;
}
.map{
    display: flex; 
    text-align: center
}
.maps iframe{
    width:60%;
    border-radius:20px;
}